.examples {
    height: 740px;
    width: 1500px;
    background: #F5CCB0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background: linear-gradient(#CC00CC, #330033);
    background: -webkit-linear-gradient(#CC00CC, #330033);
    background: -o-linear-gradient(#CC00CC, #330033);
    background: -moz-linear-gradient(#CC00CC, #330033);
}

.two {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    background: linear-gradient(left,#7093DB, #2F4F4F);
    background: -webkit-linear-gradient(left,#7093DB, #2F4F4F);
    background: -o-linear-gradient(left, #7093DB, #2F4F4F);
    background: -moz-linear-gradient(left, #7093DB, #2F4F4F);
}


    
    
